 #MenuBar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 10%;
	background-color: #e29ca4;
    	display: inline;
   	white-space: nowrap;
   	color: #ffffff;
	z-index: 1;
    
 }

#logoImg {
	position: fixed;
	top: 2.5%;
	left: 2.5%;
	width: 2.5%;
	height: auto;
}

h3 {
	position: fixed;
	left: 7.5%;
	top: -1.5%;
}
 
 #navlink {
 	color: #ffffff;
}
	
 #TitleHeader {
	color: #ffffff;
    	text-shadow: 1px 1px 5px #000000;
}

 #SocialLinks {
	display: block;
	text-shadow: 1px 1px 5px #000000;
    	margin: auto;
    	width: 40%;
    	text-align: center;
	z-index: 2;
	position: sticky;
	top: 3%;
}

 body {
	background-image: url("Screenshot 2023-05-25 170950.png");
	background-attachment: fixed;
 }
	
 #textbox1 {
 	margin: auto;
	width: 35%;
    	padding: 5px;
    	background-color: #e29ca4;
    	border-radius: 10px;
	box-shadow: 1px 1px 5px #e29ca4;
	max-width: 25%;
}

 #textbox2 {
 	margin: auto;
	width: 90%;
    	background-color: #e29ca4;
   	border-radius: 10px;
	box-shadow: 1px 1px 5px #e29ca4;
    
}

 
 h1 {
 	font-family: 'Oswald', sans-serif;
   	font-size: 40px;
   	text-align: center;
        
}

 h2 {
	font-family: 'Oswald', sans-sarif;
	font-size: 30px;
	text-align: center;
    
}

 h3 {
	font-family: 'Oswald', sans-sarif;
	font-size: 150%;
    
}

 #vidlist {
 	list-style-image: url("index.html");
}
	
 p {
	text-indent: 10%;
    	font-family: 'Josefin Sans', sans-sarif;
    	text-align: left;
    	font-size: 120%;
    	padding: 5%;
}
 
 #vid {
 	display: block;
 	margin: auto;
   	height: auto;
	width: auto;
}
